<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
    <div>
        <h3><b><i>Best Regards,</i></b></h3>
        <h3><b><i>Deliver.me team</i></b></h3>
        <img src="http://res.cloudinary.com/dfeoo5iog/image/upload/v1582890290/ljmmfhjkbd2e1gmoxssl.png">
    </div>
</body>
</html>